layout {
	
	tab focus=true name="Editor #1"{
	    pane split_direction="vertical" {
			pane edit="src/main.rs" borderless=true
	    }
	}

	tab name="Run #2" {
		pane split_direction="vertical"{ 
			pane command="cargo" start_suspended=true {
				args "run"
			}
		}	    
	}

	tab name="Git #3" {
	 pane command="lazygit" borderless=true 
	}

	tab name="Files #4" {
	 pane command="lf" borderless=true 
	}

	default_tab_template {
		children
	    pane size=1 borderless=true {
	        plugin location="zellij:compact-bar"
	    }

	}
}
keybinds {
    shared {
        // bind "Alt r" { GoToTab 2 ; Run "cargo" "run" ; FocusPreviousPane ; }
        bind "Alt r" {
			GoToTab 2 ;
			Run "cargo" "run" ;
			FocusPreviousPane ;
			CloseFocus ;
			GoToTab 1 
		}
        bind "Alt R" {
			GoToTab 2 ;
			Run "cargo" "run" "--release" ;
			FocusPreviousPane ;
			CloseFocus ;
			GoToTab 1 
		}
    }
}
